html, head, body{
    padding: 0;
    margin: 0;
}

*{
    font-family: Segoe UI, Regular;
}
    
.cabecalho{
    width: 100vw;
    height: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap; 
    background-color: rgba(24, 14, 12, 1);
    border: 1px, solid, rgba(112, 112, 112, 1);
}
    
.cabecalho__titulo{
    display: flex;
    flex: auto;
    font-size:26px;
    color:rgb(255, 255, 255);
    text-align: left;
    padding-left: 20px;
}

.cabecalho__navegacao1{
    display: flex;
    flex-wrap: wrap; 
    margin:10px;
    height: auto;
    justify-content: space-between;
    font-size: 20px;
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
  
    text-align: end;
   
}

.imagem{
    max-width: 100%;
}

.imagem__principal{
    width: 100vw;
}

.container{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
    padding-left: 20px;
    background-color: #ffff;
    flex-wrap: wrap; 
}

.card1__titulo,
.card2__titulo,
.card3__titulo,
.card4__titulo,
.Praesent,
.Maecenas,
.Aenean{
    font-size: 26px;
    padding-top: 10px;
}

p{
    font-size: 16px;
    width: 25vw;
    height: auto;
}


.container_1,
.articulos{
    display: flex;
    background-color: #37201A;
    margin-top: 100px;
    width: 100vw;
    height: auto;
    padding-left: 0px;
    flex-wrap: wrap;
}

.Praesent{
    display: flex;
    flex-direction: column;
    color: #7A503E;
    
}

.Praesent__titulo1,
.Maecenas__titulo1,
.Aenean__titulo1{
    color:#C27159;
    font-size: 26px;
    text-indent: 40px;
}

.Praesent1,
.Praesent2,
.Praesent3{
    display: flex;
    margin: 20px;
    text-align: justify;
}

.Praesent1__imagem,
.Praesent2__imagem,
.Praesent3__imagem{
    padding-right: 20px;
    height: 18vh;
    width: 12vw;
}

.Praesent1__descricao,
.Praesent2__descricao,
.Praesent3__descricao{
width: 30vh;
}

.Maecenas{
    display: flex;
    flex-direction: column;
    color: #7A503E;
}

.Maecenas1,
.Maecenas2,
.Maecenas3{
    display: flex;
    margin: 20px;
    text-align: justify;
}

.Maecenas1__imagem,
.Maecenas2__imagem,
.Maecenas3__imagem{
    padding-right: 20px;
    height: 18vh;
    width: 12vw;
}

.Maecenas1__descricao,
.Maecenas2__descricao,
.Maecenas3__descricao{
    width: 30vh;
}


.Aenean{
    display: flex;
    flex-direction: column;
    color: #7A503E;
    flex-wrap: wrap; 
}

.Aenean1{
    display: flex;
    margin: 20px;
    text-align: justify;
    flex-direction: column;
    flex-wrap: wrap; 
}

.Aenean__titulo1{
    color:#C27159;
    font-size: 26px;
    flex-wrap: wrap; 
}

.Aenean1__imagem{
    max-width: 100%;
    height: 24vh;
    width: 34vw;
    flex-wrap: wrap; 
}

.Aenean1__descricao{
    width: 70vh;
    text-align: justify;
    flex-wrap: wrap; 
}
   
.container_informacao{
    background-color: #251611;
    display: flex;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}

.informacao__Maecenas__titulo,
.informacao__link__titulo{
    color:#C27159;
    font-size: 26px;
    height: auto;
    flex-wrap: wrap; 
}

.informacao__Maecenas__descricao{
    color:#7A503E;
    width: 50vw;
    flex-wrap: wrap; 
}

.lista{
    list-style: none;   
    line-height: 300%;
    text-indent: -40px;
}

a{
    color:#7A503E;
}
.rodape{
    display: flex;
    background-color: #180E0C;
    width: 100vw;
    height: 100px;
    padding-top: 0;
    margin-top: -15px;
}

.rodape_texto{
    color:#7A503E;
    font-size: 14px;
    text-align: center;
    width: 100vw;
    padding-top: 25px;
}

@media (max-width:710px){
  .cabecalho__navegacao1{
    display: none; 
  }

    #hamburger {
    margin-right: 20px;
    margin-top: 5px;
    border-top: 2px solid;
    color: white;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
}